.main_registerLayout {
    display: flex;
    justify-content: space-between;
    .form__area {
      flex: 1;
      padding: 3rem;
      .form__head {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 7rem;
        p{
          cursor: pointer;
          text-transform: uppercase;
          color: var(--txt--color);
        }
        .svg{
          width: 2.5rem;
          height: 2.5rem;
          background: var(--txt--color);
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }