.register__form {
  max-width: 44.7rem;
  width: 100%;
  .form {
    input {
      margin-bottom: 1rem;
      display: block;
      padding-left: 1rem;
      width: 100%;
      height: 5.4rem;
      border-radius: 1rem;
      border: 1px solid var(--border-color);
      background-color: var(--main-button-txt);
      &::placeholder {
        color: #b0b0b0;
        font-weight: 500;
      }

      &:focus {
        color: var(--main-input-text-color);
      }
    }
    .input__area {
      position: relative;
      .svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%) !important;
      }
    }
    .forgot {
      color: var(--txt--color);
      font-size: 1.4rem;
      font-weight: 500;
    }

    button {
      margin-top: 2rem;
      max-width: 100%;
    }
  }
  .form__bottom {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    p,
    a {
      font-weight: 500;
    }
    a {
      color: var(--txt--color);
    }
  }
}
