.discount {
  width: 100%;
  height: 36.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.9rem;
  background-image: url(../../assets/images/Rectangle106.png);
  background-size: cover;
  background-repeat: no-repeat;
  h2 {
    font-family: var(--second-font);
    font-size: 6.4rem;
    color: var(--txt-color-white);
    font-weight: 700;
  }
  p {
    width: 44.5rem;
    color: var(--txt-color-white);
    text-align: center;
    line-height: 2.4rem;
  }

}
