@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Raleway:wght@400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: 0;
}

:root {
  --main-font: "Raleway", sans-serif;
  --second-font: "Didot", serif;
  --txt-color-white: #ffffff;
  --main-bg: #eae6df;
  --main-button-txt: #eae6df;
  --txt-color-dark: #2d2d2b;
  --main-input-bg: #eae6df;
  --border-color: #d4c8be;
  --second-bg-color: #d4c8be;
  --btn-bg-color: #b8926a;
  --txt--color: #b8926a;
  --footer-txt-color: #717171;
  --hover-btn-bg-color: #a5825d;
  --disabled-btn-color: #eae6df;
  --disabled-btn-bg: #b0b0b0;
  --secondary-btn-br-color: #b8926a;
  --secondary-btn-disabled-br-color: #b0b0b0;
  --secondary-btn-color: #b8926a;
  --secondary-btn-hover-color: #a5825d;
  --scondary-btn-disabled-color: #b0b0b0;
  --dropdown-text-color: #b8926a;
  --dropdown-bg-color: #eae6df;
  --dropdown-br-color: #b8926a;
  --input-txt-color: #b0b0b0;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: var(--txt-color-dark);
  background: var(--main-bg);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  max-width: 138rem;
  margin: auto;
}

a {
  color: var(--txt-color-dark);
  text-decoration: none;
  transition: all 0.4s linear !important;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  font-size: 7.2rem;
}
h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  font-weight: 700;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 2.4rem;
}
input[type="checkbox"] {
  appearance: none;
}
.btn {
  width: 33rem;
  height: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .btn {
    width: 26rem;
  }
}
@media screen and (max-width: 550px) {
  .btn {
    width: 20rem;
    height: 4.3rem;
    gap: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .btn {
    width: 20rem;
    height: 4.3rem;
    gap: 1rem;
  }
}
