.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  &__head {
    color: var(--main-text-color);
    font-family: Didot;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.2rem;
    text-transform: uppercase;
  }
  &--action {
    a {
      font-weight: 500;
      line-height: 2rem;
      text-decoration-line: underline;
      color: #b8926a;
    }
  }
}