.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12rem 0;

    .main__header--title {

        .main__header--title--text {
            width: 83rem;
            height: 16.2rem;


            h1 {
                font-family: var(--second-font);
                font-size: 7.2rem;
                font-weight: 700;
                line-height: 8.6rem;
            }
        }

        .main__header--title--text--desc {
            width: 44.7rem;
            padding-top: 3rem;

            p {
                color: var(--txt-color-dark);
                font-variant-numeric: lining-nums proportional-nums;
                line-height: 2.4rem;

            }
        }
    }
}