.primary__btn {
    color: var(--main-button-txt);
    background: var(--btn-bg-color);
    
    &:hover{
      background: var(--hover-btn-bg-color);
    }
    
    &:disabled{
      background: var(--disabled-btn-bg);
      color: var(--disabled-btn-color);
      cursor: not-allowed;
    }
  }
  
