.filter__area {
  margin-bottom: 5rem;
  &--title {
    color: var(--second-text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  &--label {
    margin-bottom: 2.2rem;
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
    svg {
      margin-right: 2.5rem;
    }
  }
}