.product__main {
  padding-top: 13rem;
  .product {
    &__secthead {
      display: flex;
      align-items: center;
      padding-top: 10rem;
      padding-bottom: 5rem;

      &--action {
        display: flex;
        justify-content: end;
        width: 100%;

        a {
          color: var(--btn-bg-color);
          text-decoration: underline;
          text-align: center;
        }
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
      row-gap: 3rem;
      column-gap: 1.8rem;
    }
  }
}
