.product {

  &__secthead {
    display: flex;
    align-items: center;
    justify-content: end;

    &--action {
   
      a{
        color: var(--btn-bg-color);
      text-decoration: underline;

      }
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    row-gap: 3rem;
    column-gap: 1.8rem;
  }
}
