.slider {
    
    .slick-dots {
        bottom: -60px !important;
        display: flex !important;
        li {
            margin: 0;
            flex: 1;
        }

        button::before {
            width: 100%;
            height: .4rem !important;
            background: var( --btn-bg-color);
            content: "" !important;
        }
    }

    .slick-next, .slick-prev {
        bottom: -4rem !important;
        top: auto;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: var( --btn-bg-color);
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }

    .slick-next {
        right: 1rem;
        &::before {
            content: url(../../../assets/images/arrow_next.png);
        }
    }

    .slick-prev {
        right: 4rem !important;
        left: auto;
        &::before {
            content: url(../../../assets/images/arrow_prev.png);
        }
    }

    .slick-track {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    .category__slider--item {
        width: 33rem;
        height: 19.3rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 20%;
            backdrop-filter: blur(7.5px);
            border-radius: 0 0 1rem 1rem;
            overflow: hidden;
        }

        img {
            border-radius: 1rem;
        }

        .category__name {
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #EAE6DF;
            text-align: center;
        }
    }

    @media(max-width: 576px) {
        .slick-dots {
            bottom: -30px !important;
            display: block !important;
        


            li {
                display: inline-block !important;
                margin: 0 5px !important;
            }

            button::before {
                width: 20px !important;
                height: 20px !important;
                content: '•' !important;
                background: none !important;
                color: var(  --btn-bg-color);
              
                
            }
        }
    }
}
