.account {
  display: flex;
  flex-wrap: wrap;
  column-gap: 13.7rem;

  .profile {
    max-width: 33rem;
    width: 100%;
    height: 32rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(  --second-bg-color);
    ;
    .profile__title {
      font-family: var(--second-font);
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.2rem;
      margin-bottom: 5.2rem;
    }
    .profile__list--item {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      margin-bottom: 3rem;
      font-weight: 600;
    }
  }
}
@media (max-width: 992px) {
  .account {
    justify-content: center;
    gap: 5rem;
  }
}
